@model E_Commerce.Models.tbl_user


@{
    ViewBag.Title = "About";

}

<Doctype>
    <html>
    <head>

        <style>
            body {
                
                background-image: url('../../Content/images/UserloginBG.jpg');
            }
        </style>


        <link href="~/Content/loginstyle.css" rel="stylesheet" />
    </head>
    <body>
        <h2>Login</h2>

        @using (Html.BeginForm())
        {

            <form class="" action="" method="post">
                <div class="imgcontainer">
                </div>

                <div class="container">
                    <label for="uname"><b>Username</b></label>
                    @*<input type="text" placeholder="Enter Username" name="uname" required>*@
                    @Html.TextBoxFor(x => x.u_email, new { @class = "form-control", @placeholder = "User Email" })
                    <span style="color:red">@Html.ValidationMessageFor(x => x.u_email)</span>
                    
                    <br />
                    <label for="psw"><b>Password</b></label>
                    @*<input type="password" placeholder="Enter Password" name="psw" required>*@

                    @Html.PasswordFor(x => x.u_password, new { @class = "form-control", @placeholder = "Password" })
                    <span style="color:red">@Html.ValidationMessageFor(x => x.u_password)</span>

                    <br />

                    <input type="submit" value="Login" class="btn btn-success " />


                </div>
                <div class="form-group">
                    <p style="color:red">@ViewBag.error</p>
                </div>
            </form>
        }

    </body>
</html>
<script src="~/Scripts/jquery.validate-vsdoc.js"></script>
<script src="~/Scripts/jquery.validate.js"></script>
<script src="~/Scripts/jquery.validate.min.js"></script>
<script src="~/Scripts/jquery.validate.unobtrusive.js"></script>
<script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>
@section Scripts
    {


    @Scripts.Render("~/bundles/jqueryval")
}
